<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Secrets</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3pro.css">
  </head>
  <body>
     <!-- navigation -->
     <div class="w3-bar w3-cell-row w3-card">
      <a href="/" class="w3-cell w3-bar-item w3-btn w3-ripple"><h1>Secrets</h1></a>
      <div class="w3-bar-item w3-cell-row w3-right">
        <a href="/login" class="w3-cell w3-button w3-hide-small w3-cell-middle">login</a>
        <a href="#" class="w3-cell w3-button w3-hide-small w3-cell-middle">about</a>
        <a href="#" class="w3-cell w3-button w3-hide-small w3-cell-middle">contact</a>
      </div>
      <a href="javascript:void(0)" class="w3-bar-item w3-button w3-right w3-hide-large w3-hide-medium" onclick="myFunction()">&#9776;</a>
    </div>

    <div id="demo" class="w3-bar-block w3-hide w3-hide-large w3-hide-medium w3-card">
      <a href="/login" class="w3-bar-item w3-button">login</a>
      <a href="#" class="w3-bar-item w3-button">about</a>
      <a href="#" class="w3-bar-item w3-button">contact</a>
    </div>


    <script>
    function myFunction() {
      var x = document.getElementById("demo");
      if (x.className.indexOf("w3-show") == -1) {
        x.className += " w3-show";
      } else {
        x.className = x.className.replace(" w3-show", "");
      }
    }
    </script>
